include README.md
include LICENSE*
include NOTICE
include pyproject.toml
include requirements.txt
recursive-include ontology_author/world *.md *.html *.js *.css
global-exclude *.py[cod] __pycache__ *.so .env
